@import "./node_modules/bootstrap/scss/bootstrap.scss";

body{
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.page{
    background-color: #fff;
    padding: 15px;
    .page-title{
        font-size: 1rem;
        font-weight: bold;
    }
}

#page-login, #page-register{
    max-width: 300px;   
    margin: 10% auto;
}